@import url('https://fonts.googleapis.com/css?family=Cantarell|Fjalla+One');

$fjalla: 'Fjalla One', sans-serif;
$cantarell: 'Cantarell', sans-serif;

*
{
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

body
{
	font: 100% $cantarell;
  color: #000;
}

h1 {
  font: 75px $fjalla;
  letter-spacing: 4px;
  color: #ECF0F1;
}

.center {
  text-align: center;
}
